.modal {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in;
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  z-index: 10;
  min-width: 380px;
  max-width: 80%;
  font-family: 'poppins', sans-serif;
}

.btn {
  display: contents;
  width: 306px;
  height: 56px;
  text-decoration: none;
  text-decoration-color: #396df2;
}

.modal .btn {
  display: flex;
  padding: 10px 0;
  gap: 9px;
  text-decoration-color: #396df2;
}

.model-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.model-headline {
  display: flex;
  justify-content: space-between;
}

.model-headline button {
  font-size: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #67798e;
}

.model-headline h2 {
  padding: 10px;
}

.button-list {
  color: #6070ff;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.button-list li {
  padding-right: 20px;
  list-style: none;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  text-decoration-color: #6070ff;
}

.work-banner-model {
  display: none;
}

.dogWater {
  text-decoration: none;
  color: #396df2;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration-color: #396df2;
  text-align: center;
  justify-content: center;
}

.catWater {
  text-decoration: none;
  color: #396df2;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-align: center;
  justify-content: space-between;
}

.btn button {
  padding: 10px;
  text-decoration-color: #396df2;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(193, 199, 208, 0.678);
  filter: blur(10px);
  z-index: 1;
}

.btn-flex1 {
  text-decoration: none;
  text-decoration-color: #396df2;
}

.tag1 {
  display: none;
}

@media (min-width: 768px) {
  .modal {
    margin: 0 auto;
    width: 50.75rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 0.625rem;
    height: 80vh;
  }

  .tag1 {
    color: #6070ff;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 203px;
    height: 24px;
  }

  .work-banner-model {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .mobile-banner-model {
    display: none;
  }

  .parlist {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .lister {
    font-size: 12px;
  }

  .model-container {
    max-width: 60.75rem;
  }

  .image-overflow {
    overflow: scroll;
    height: 40vh;
  }
}
