* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  vertical-align: baseline;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}

.head {
  display: flex;
  flex-direction: column;
  background: #e7e7e9;
}

.heading {
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  background: #fff;
}

.menu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  line-height: 22px;
  letter-spacing: 0.1rem;
  text-align: center;
}

.amenu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(96, 112, 255, 0.8);
  backdrop-filter: blur(4px);
  height: 100vh;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: rotateX(-90deg);
  }

  70% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.visible {
  display: block;
}

.mmenu {
  margin-right: 20%;
  margin-bottom: 40px;
  margin-top: 13%;
}

.mmenu1 {
  margin-top: 8px;
}

.mobile {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  margin-left: 28px;
}

.mobile:hover {
  color: #6070ff;
  background-color: #fff;
  font-size: 34px;
}

.menu-icon {
  margin: 0;
}

.xicon {
  display: flex;
  align-self: flex-end;
  margin-left: 86%;
  margin-top: 7.5%;
}

.menu-icon img {
  width: 24px;
  height: 24px;
}

.xicon img {
  width: 24px;
  height: 24px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
}

.dmenu {
  display: none;
}

.main {
  background-image: url(Images/dt-header-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 0 0 0 80px;
}

.first {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 40px;
  display: flex;
  letter-spacing: 0.37px;
  color: #091e42;
  padding: 10px;
  animation-duration: 3s;
  animation-name: slidein;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  border: 1px;
  text-align: left;
  padding: 10px;
}

.headingicons {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  gap: 12px;
}

.title {
  padding: 18px 0 0 10px;
  margin: 24px 0;
  text-decoration: none;
  color: #7f8cff;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 15px;
}

.headingicons ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 1px 0;
}

.headingicons li {
  padding: 0 15px 0 0;
}

.headingicons img {
  height: 24px;
  width: 24px;
}

.vectors:hover {
  background-color: #7fffd4;
}

.vectors::before {
  background-color: #f2d2bd;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
  gap: 88px;
  background: #f7f7f9;
  border-left: 24px;
  border-right: 24px;
}

.dtcards-pic {
  display: none;
}

.single-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 20px;
  width: calc(100%);
  background: #fff;
  border: 1px solid #ebecef;
  border-radius: 16px;
}

.mbcards-pic {
  width: fit-content;
  height: auto;
}

.left-block {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 24px;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.frame-2 ul {
  gap: 12px;
  display: flex;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.frame-2 li {
  list-style: none;
}

.single-card p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.tags ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.tags li {
  background-color: #ebebff;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
  color: #6070ff;
}

.tags li a {
  text-decoration: none;
}

.abutton button {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #396df2;
  color: #396df2;
  display: flex;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 10px;
}

.headingicons button {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #396df2;
  color: #396df2;
  display: flex;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 10px;
  width: fit-content;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

.about-myself {
  display: flex;
  padding: 10px;
  flex-direction: column;
  padding-top: 30px;
  border-radius: 0 150px 0 0;
  background-color: #fff;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 120px 20px;
}

.skill-list {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #344563;
  font-size: 20px;
  line-height: 24px;
}

hr {
  border: 1px solid #e3e5e9;
}

.content {
  display: flex;
  color: #253858;
  background-color: #f7f7f9;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 15px;
  margin: 15px 0;
}

.content li {
  display: flex;
}

.content span {
  padding: 14px;
}

.content ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.icon {
  widows: 48;
}

.frames {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 30px 10px;
}

.frames li {
  padding: 24px 0;
}

.contact-me {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #6070ff;
  border-radius: 80px 0 0 0;
}

.imageb {
  width: 100%;
  height: auto;
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.wordings {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.background-image {
  background: url(Images/dt-background-shapes.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 114px 40px;
}

.scontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 60%;
}

.input-control input {
  border: none;
  outline: none;
  padding: 15px 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-control textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  width: 100%;
  height: 170px;
  padding: 15px 16px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.input-control textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 100%;
}

input[type="submit"] {
  float: left;
  height: 48px;
  color: #6070ff;
  border: 1px solid #cfd8dc;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
  background-color: #fff;
  width: fit-content;
}

input[type="submit"]:hover {
  background-color: #6070ff;
  color: white;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .heading {
    padding: 0 20px;
  }

  .head {
    background-color: #f7f7f9;
  }

  .heading .menu-icon {
    display: none;
  }

  .dmenu {
    display: flex;
    flex-direction: row;
    line-height: 30px;
  }

  .dmenu li {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding-left: 25px;
  }

  .dmenu a {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #344563;
  }

  .dmenu li a {
    text-decoration: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    background: url(Images/dt-header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 48px;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
  }

  .works {
    padding: 0 100px;
    display: grid;
    justify-content: center;
    padding-bottom: 114px;
  }

  .single-card {
    font-size: 12px;
  }

  .mbcards-pic {
    display: none;
  }

  .dtcards-pic {
    display: flex;
    width: 50%;
    height: auto;
  }

  .card1 {
    display: flex;
    flex-direction: row;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-right: 2px;
  }

  .contact-me {
    display: flex;
    background: #6070ff;
    border-radius: 150px 0 0 0;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .imageb {
    background: url(Images/dt-header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
  }

  .abtext {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
  }

  .lang {
    display: flex;
  }

  /* .jas {
    padding-left: 20px;
  } */

  .bio {
    padding: 15px 60px 30px 15px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    flex-direction: column;
  }

  .headingicons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .headingicons button {
    width: fit-content;
  }

  .background-image {
    background: url(Images/contact-backgound-image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 120px 0;
    width: 100%;
  }

  .contact-form {
    align-items: center;
  }

  input[type="submit"] {
    display: flex;
  }
}

#cBtn {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 140px;
  height: 48px;
  transition: 0.5s;
}

#cBtn:hover {
  background-color: #6070ff;
  color: white;
}

#cBtn:active {
  background-color: #2230d2;
  color: white;
}

.flex {
  display: flex;
}

.error {
  color: #ff3434;
  font-size: 16px;
  margin: 0.5rem;
}
