* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
x}

.heading {
  display: flex;
  width: 100%;
  top: 44px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
  left: 12px;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
}

.menu {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-right: 24px;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 6.4%;
  padding-left: 6.4%;
  background-image: url("Images/header-shapes\ mobile@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.first .main {
  padding-top: 241px;
}

.first {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 24%;
  padding-right: 30%;
  margin-bottom: 0;
}

.description {
  font-weight: normal;
  font-size: 16px;
  margin-top: 12px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 2px;
  width: 117px;
  height: 24px;
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-decoration-line: none;
  margin-top: 12px;
}

.social-media {
  list-style: none;
  display: flex;
  margin-left: -40px;
  justify-content: flex-start;
  margin-top: 10px;
}

li {
  padding: 15px;
  list-style: none;
}

/* middle section */

section {
  display: grid;
  flex-direction: column;
  align-items: center;
  padding-left: 6.4%;
  padding-right: 6.4%;
}

.works {
  margin-bottom: 88px;
  background-color: #e5e5e5;
}

.single-card {
  box-sizing: border-box;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 88px;
  margin-top: 12px;
  background-color: white;
  border-radius: 16px;
}

.card-works {
  margin-bottom: 12px;
}

.cards-pic {
  border-radius: 8px;
  width: 295px;
  height: 220px;
  margin-top: 12px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.client {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  text-decoration: none;
}

.counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.role {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year-label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.tag {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.float-items {
  float: left;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-bottom: 88px;
}

button {
  padding: 12px;
  margin-bottom: 5px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  background-color: white;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button:active {
  color: #fff;
  background-color: #2230d2;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  margin-bottom: 24px;
  width: 375px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 8px;
  width: 327px;
  height: 409px;
}

.primary-text-1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.secondary-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  height: 144px;
  margin-bottom: 16px;
}

.social-media-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 16px;
  width: 200px;
  height: 80px;
}

.supporting-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-bottom: 8px;
  width: 117;
  height: 24px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.frame-1 {
  list-style: none;
  display: flex;
  margin-left: -40px;
  justify-content: flex-start;
  margin-top: 10px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
}

.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 320.15px;
}

.frame-7 {
  width: 327px;
  height: 72px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.arrow-down {
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.languages {
  flex-direction: row;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: space-between;
  text-decoration: none;
}

.language-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
  width: 327px;
  height: 248.15px;
  text-decoration: none;
}

.text {
  height: 24px;
  width: 215;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  text-decoration: none;
  top: calc((50% - 24px / 2) - 0.36px);
}

.icon {
  width: 48px;
  height: 48px;
  left: 12px;
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  top: calc((50% - 48px / 2) - 0.36px);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: row;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  text-decoration: none;
  align-items: center;
}

/* contact form */

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 70px 0 0 0;
  background-color: #6070ff;
  text-align: center;
  color: #fff;
  font-family: inherit;
  background-image: url(Images/contactform.svg), url(Images/contactform.svg);
  background-position: top right, bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  padding-top: 103px;
  margin-bottom: 12px;
  color: #fff;
}

.wordings {
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ebebff;
}
.input-control input {
  height: 48px;
  width: 327px;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  margin: 10px 0;
}
#message {
  height: 170px;
width: 327px;
border-radius: 8px;
margin-top: 10px;
padding: 15px 38px 15px 16px;
}
#btn {
  width: 140px;
height: 48px;
float: left;
}
.footer-line {
  position: static;
  width: 135px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin: 20px 0 10px;
}

